/* stylelint-disable */
.wp-block-audio {
  figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px;
  }

  audio {
    width: 100%;
    min-width: 300px;
  }
}

.block-editor-block-list__layout {
  .reusable-block-edit-panel {
    align-items: center;
    background: #f8f9f9;
    color: #555d66;
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 13px;
    top: -14px;
    margin: 0 -14px;
    padding: 8px 14px;
    position: relative;
    border: 1px dashed rgba(145, 151, 162, 0.25);
    border-bottom: none;
  }

  .block-editor-block-list__layout .reusable-block-edit-panel {
    margin: 0 -14px;
    padding: 8px 14px;
  }

  .reusable-block-edit-panel {
    .reusable-block-edit-panel__spinner {
      margin: 0 5px;
    }

    .reusable-block-edit-panel__info {
      margin-right: auto;
    }

    .reusable-block-edit-panel__label {
      margin-right: 8px;
      white-space: nowrap;
      font-weight: 600;
    }

    .reusable-block-edit-panel__title {
      flex: 1 1 100%;
      font-size: 14px;
      height: 30px;
      margin: 4px 0 8px;
    }

    .components-button.reusable-block-edit-panel__button {
      flex-shrink: 0;
    }
  }
}

@media (min-width: 960px) {
  .block-editor-block-list__layout .reusable-block-edit-panel {
    flex-wrap: nowrap;

    .reusable-block-edit-panel__title {
      margin: 0;
    }

    .components-button.reusable-block-edit-panel__button {
      margin: 0 0 0 5px;
    }
  }
}

.editor-block-list__layout .is-selected .reusable-block-edit-panel {
  border-color: rgba(66, 88, 99, 0.4) rgba(66, 88, 99, 0.4) rgba(66, 88, 99, 0.4) transparent;
}

.is-dark-theme .editor-block-list__layout .is-selected .reusable-block-edit-panel {
  border-color: hsla(0, 0%, 100%, 0.45) hsla(0, 0%, 100%, 0.45) hsla(0, 0%, 100%, 0.45) transparent;
}

.block-editor-block-list__layout .reusable-block-indicator {
  background: #fff;
  border: 1px dashed #e2e4e7;
  color: #555d66;
  top: -14px;
  height: 30px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  width: 30px;
  right: -14px;
}

.wp-block-button {
  color: #fff;
  margin-bottom: 1.5em;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }
}

.wp-block-button__link {
  background-color: #32373c;
  border: none;
  border-radius: 28px;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: inherit;
  }
}

.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.is-style-outline {
  color: #32373c;

  .wp-block-button__link {
    background-color: transparent;
    border: 2px solid;
  }
}

.wp-block-calendar {
  text-align: center;

  tbody td,
  th {
    padding: 4px;
    border: 1px solid #e2e4e7;
  }

  tfoot td {
    border: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

    th {
      font-weight: 440;
      background: #edeff0;
    }
  }

  a {
    text-decoration: underline;
  }

  tfoot a {
    color: #00739c;
  }

  table {

    caption,
    tbody {
      color: #40464d;
    }
  }
}

.wp-block-categories {
  &.alignleft {
    margin-right: 2em;
  }

  &.alignright {
    margin-left: 2em;
  }
}

.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  flex-grow: 1;
  margin-bottom: 1em;
  flex-basis: 100%;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 600px) {
  .wp-block-column {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;

    &:nth-child(2n) {
      margin-left: 32px;
    }
  }
}

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 32px;
  }
}

.wp-block-cover {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wp-block-cover-image {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.has-left-content {
    justify-content: flex-start;
  }
}

.wp-block-cover.has-left-content {
  justify-content: flex-start;
}

.wp-block-cover-image.has-left-content {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    margin-left: 0;
    text-align: left;
  }
}

.wp-block-cover.has-left-content {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    margin-left: 0;
    text-align: left;
  }
}

.wp-block-cover-image.has-right-content,
.wp-block-cover.has-right-content {
  justify-content: flex-end;
}

.wp-block-cover-image.has-right-content {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    margin-right: 0;
    text-align: right;
  }
}

.wp-block-cover.has-right-content {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    margin-right: 0;
    text-align: right;
  }
}

.wp-block-cover-image {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 610px;
    padding: 14px;
    text-align: center;
  }
}

.wp-block-cover {

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 610px;
    padding: 14px;
    text-align: center;
  }
}

.wp-block-cover-image {
  .wp-block-cover-image-text a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .wp-block-cover-text a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  h2 a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}

.wp-block-cover {
  .wp-block-cover-image-text a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .wp-block-cover-text a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  h2 a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}

.wp-block-cover-image.has-parallax,
.wp-block-cover.has-parallax {
  background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {

  .wp-block-cover-image.has-parallax,
  .wp-block-cover.has-parallax {
    background-attachment: scroll;
  }
}

.wp-block-cover-image.has-background-dim:before,
.wp-block-cover.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 0.5;
  z-index: 1;
}

.wp-block-cover-image.has-background-dim.has-background-dim-10:before,
.wp-block-cover.has-background-dim.has-background-dim-10:before {
  opacity: 0.1;
}

.wp-block-cover-image.has-background-dim.has-background-dim-20:before,
.wp-block-cover.has-background-dim.has-background-dim-20:before {
  opacity: 0.2;
}

.wp-block-cover-image.has-background-dim.has-background-dim-30:before,
.wp-block-cover.has-background-dim.has-background-dim-30:before {
  opacity: 0.3;
}

.wp-block-cover-image.has-background-dim.has-background-dim-40:before,
.wp-block-cover.has-background-dim.has-background-dim-40:before {
  opacity: 0.4;
}

.wp-block-cover-image.has-background-dim.has-background-dim-50:before,
.wp-block-cover.has-background-dim.has-background-dim-50:before {
  opacity: 0.5;
}

.wp-block-cover-image.has-background-dim.has-background-dim-60:before,
.wp-block-cover.has-background-dim.has-background-dim-60:before {
  opacity: 0.6;
}

.wp-block-cover-image.has-background-dim.has-background-dim-70:before,
.wp-block-cover.has-background-dim.has-background-dim-70:before {
  opacity: 0.7;
}

.wp-block-cover-image.has-background-dim.has-background-dim-80:before,
.wp-block-cover.has-background-dim.has-background-dim-80:before {
  opacity: 0.8;
}

.wp-block-cover-image.has-background-dim.has-background-dim-90:before,
.wp-block-cover.has-background-dim.has-background-dim-90:before {
  opacity: 0.9;
}

.wp-block-cover-image.has-background-dim.has-background-dim-100:before,
.wp-block-cover.has-background-dim.has-background-dim-100:before {
  opacity: 1;
}

.wp-block-cover-image {

  &.alignleft,
  &.alignright {
    max-width: 305px;
    width: 100%;
  }
}

.wp-block-cover {

  &.alignleft,
  &.alignright {
    max-width: 305px;
    width: 100%;
  }
}

.wp-block-cover-image:after,
.wp-block-cover:after {
  display: block;
  content: "";
  font-size: 0;
  min-height: inherit;
}

@supports (position: -webkit-sticky) or (position: sticky) {

  .wp-block-cover-image:after,
  .wp-block-cover:after {
    content: none;
  }
}

.wp-block-cover-image {

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: flex;
  }
}

.wp-block-cover {

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: flex;
  }
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  width: calc(100% - 70px);
  z-index: 1;
  color: #f8f9f9;
}

.wp-block-cover-image {

  .wp-block-subhead,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
  }
}

.wp-block-cover {

  .wp-block-subhead,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
  }
}

.wp-block-cover__video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.block-editor-block-list__block[data-type="core/embed"] {

  &[data-align=left] .block-editor-block-list__block-edit,
  &[data-align=right] .block-editor-block-list__block-edit {
    max-width: 360px;
    width: 100%;
  }
}

.wp-block-embed {

  &.alignleft,
  &.alignright {
    max-width: 360px;
    width: 100%;
  }

  margin-bottom: 1em;

  figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px;
  }
}

.wp-embed-responsive .wp-block-embed {

  &.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
  &.wp-embed-aspect-1-2 .wp-block-embed__wrapper,
  &.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
  &.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
  &.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
  &.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
  &.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
    position: relative;
  }

  &.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before,
  &.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
    content: "";
    display: block;
    padding-top: 50%;
  }

  &.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
  &.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe,
  &.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
  &.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
  &.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
  &.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:before {
      padding-top: 42.85%;
    }
  }

  &.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
    padding-top: 50%;
  }

  &.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
    padding-top: 56.25%;
  }

  &.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
    padding-top: 75%;
  }

  &.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
    padding-top: 100%;
  }

  &.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before {
    padding-top: 66.66%;
  }

  &.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
    padding-top: 200%;
  }
}

.wp-block-file {
  margin-bottom: 1.5em;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }

  .wp-block-file__button {
    background: #32373c;
    border-radius: 2em;
    color: #fff;
    font-size: 13px;
    padding: 0.5em 1em;
  }

  a.wp-block-file__button {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      box-shadow: none;
      color: #fff;
      opacity: 0.85;
      text-decoration: none;
    }
  }

  *+.wp-block-file__button {
    margin-left: 0.75em;
  }
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .blocks-gallery-image figure,
  .blocks-gallery-item figure {
    margin: 0;
    height: 100%;
  }

  .blocks-gallery-image img,
  .blocks-gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .blocks-gallery-image figcaption,
  .blocks-gallery-item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 9px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);
  }

  .blocks-gallery-image figcaption img,
  .blocks-gallery-item figcaption img {
    display: inline;
  }

  &.is-cropped {
    .blocks-gallery-image {

      a,
      img {
        width: 100%;
      }
    }

    .blocks-gallery-item {

      a,
      img {
        width: 100%;
      }
    }
  }

  .blocks-gallery-image,
  .blocks-gallery-item {
    width: calc((100% - 16px)/2);
  }

  .blocks-gallery-image:nth-of-type(2n),
  .blocks-gallery-item:nth-of-type(2n) {
    margin-right: 0;
  }

  &.columns-1 {

    .blocks-gallery-image,
    .blocks-gallery-item {
      width: 100%;
      margin-right: 0;
    }
  }

  .blocks-gallery-image:last-child {
    margin-right: 0;
  }

  .blocks-gallery-item {
    &:last-child {
      margin-right: 0;
    }

    &.has-add-item-button {
      width: 100%;
    }
  }

  &.alignleft,
  &.alignright {
    max-width: 305px;
    width: 100%;
  }

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: flex;
  }

  &.aligncenter .blocks-gallery-item figure {
    justify-content: center;
  }
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .wp-block-gallery {

    .blocks-gallery-image figure,
    .blocks-gallery-item figure {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }
  }
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .wp-block-gallery {

    .blocks-gallery-image img,
    .blocks-gallery-item img {
      width: auto;
    }
  }
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .wp-block-gallery.is-cropped {
    .blocks-gallery-image {

      a,
      img {
        height: 100%;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .blocks-gallery-item {

      a,
      img {
        height: 100%;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 600px) {
  .wp-block-gallery {
    &.columns-3 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 32px)/3);
        margin-right: 16px;
      }
    }

    &.columns-4 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 48px)/4);
        margin-right: 16px;
      }
    }

    &.columns-5 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 64px)/5);
        margin-right: 16px;
      }
    }

    &.columns-6 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 80px)/6);
        margin-right: 16px;
      }
    }

    &.columns-7 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 96px)/7);
        margin-right: 16px;
      }
    }

    &.columns-8 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 112px)/8);
        margin-right: 16px;
      }
    }

    &.columns-1 {

      .blocks-gallery-image:nth-of-type(1n),
      .blocks-gallery-item:nth-of-type(1n) {
        margin-right: 0;
      }
    }

    &.columns-2 {

      .blocks-gallery-image:nth-of-type(2n),
      .blocks-gallery-item:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    &.columns-3 {

      .blocks-gallery-image:nth-of-type(3n),
      .blocks-gallery-item:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    &.columns-4 {

      .blocks-gallery-image:nth-of-type(4n),
      .blocks-gallery-item:nth-of-type(4n) {
        margin-right: 0;
      }
    }

    &.columns-5 {

      .blocks-gallery-image:nth-of-type(5n),
      .blocks-gallery-item:nth-of-type(5n) {
        margin-right: 0;
      }
    }

    &.columns-6 {

      .blocks-gallery-image:nth-of-type(6n),
      .blocks-gallery-item:nth-of-type(6n) {
        margin-right: 0;
      }
    }

    &.columns-7 {

      .blocks-gallery-image:nth-of-type(7n),
      .blocks-gallery-item:nth-of-type(7n) {
        margin-right: 0;
      }
    }

    &.columns-8 {

      .blocks-gallery-image:nth-of-type(8n),
      .blocks-gallery-item:nth-of-type(8n) {
        margin-right: 0;
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-3 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 32px)/3 - 1px);
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-4 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 48px)/4 - 1px);
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-5 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 64px)/5 - 1px);
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-6 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 80px)/6 - 1px);
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-7 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 96px)/7 - 1px);
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .wp-block-gallery.columns-8 {

      .blocks-gallery-image,
      .blocks-gallery-item {
        width: calc((100% - 112px)/8 - 1px);
      }
    }
  }
}

.wp-block-image {
  max-width: 100%;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  img {
    max-width: 100%;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignfull img,
  &.alignwide img {
    width: 100%;
  }

  .aligncenter,
  .alignleft,
  .alignright,
  &.is-resized {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .aligncenter>figcaption,
  .alignleft>figcaption,
  .alignright>figcaption,
  &.is-resized>figcaption {
    display: table-caption;
    caption-side: bottom;
  }

  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px;
  }
}

.wp-block-latest-comments__comment {
  font-size: 15px;
  line-height: 1.1;
  list-style: none;
  margin-bottom: 1em;
}

.has-avatars .wp-block-latest-comments__comment {
  min-height: 36px;
  list-style: none;

  .wp-block-latest-comments__comment-excerpt,
  .wp-block-latest-comments__comment-meta {
    margin-left: 52px;
  }
}

.has-dates .wp-block-latest-comments__comment,
.has-excerpts .wp-block-latest-comments__comment {
  line-height: 1.5;
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0 20px;
}

.wp-block-latest-comments__comment-date {
  color: #8f98a1;
  display: block;
  font-size: 12px;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
  border-radius: 24px;
  display: block;
  float: left;
  height: 40px;
  margin-right: 12px;
  width: 40px;
}

.wp-block-latest-posts {
  &.alignleft {
    margin-right: 2em;
  }

  &.alignright {
    margin-left: 2em;
  }

  &.is-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    li {
      margin: 0 16px 16px 0;
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .wp-block-latest-posts {
    &.columns-2 li {
      width: calc(50% - 16px);
    }

    &.columns-3 li {
      width: calc(33.33333% - 16px);
    }

    &.columns-4 li {
      width: calc(25% - 16px);
    }

    &.columns-5 li {
      width: calc(20% - 16px);
    }

    &.columns-6 li {
      width: calc(16.66667% - 16px);
    }
  }
}

.wp-block-latest-posts__post-date {
  display: block;
  color: #6c7781;
  font-size: 13px;
}

.wp-block-media-text {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "media-text-media media-text-content";
  grid-template-columns: 50% auto;

  &.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    grid-template-columns: auto 50%;
  }

  .wp-block-media-text__media {
    grid-area: media-text-media;
    margin: 0;
  }

  .wp-block-media-text__content {
    word-break: break-word;
    grid-area: media-text-content;
    padding: 0 8%;
  }

  >figure> {

    img,
    video {
      max-width: unset;
      width: 100%;
      vertical-align: middle;
    }
  }
}

@media (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
    grid-template-areas: "media-text-media""media-text-content";

    &.has-media-on-the-right {
      grid-template-areas: "media-text-content""media-text-media";
    }
  }
}

.is-small-text {
  font-size: 14px;
}

.is-regular-text {
  font-size: 16px;
}

.is-large-text {
  font-size: 36px;
}

.is-larger-text {
  font-size: 48px;
}

.has-drop-cap:not(:focus) {
  &:first-letter {
    float: left;
    font-size: 8rem;
    line-height: 0.68;
    font-weight: 100;
    margin: 0.15em 0.05em 0 0;
    text-transform: uppercase;
    font-style: normal;
    font-family: "Vollkorn";
  }

  &:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px;
  }
  &:first-line{
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

p {
  &.has-background {
    padding: 20px 30px;
  }

  &.has-text-color a {
    color: inherit;
  }
}

.wp-block-pullquote {
  padding: 3em 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  &.alignleft,
  &.alignright {
    max-width: 305px;
  }

  &.alignleft p,
  &.alignright p {
    font-size: 20px;
  }

  p {
    font-size: 28px;
    line-height: 1.6;
  }

  cite,
  footer {
    position: relative;
  }

  .has-text-color a {
    color: inherit;
  }

  &:not(.is-style-solid-color) {
    background: 0 0;
  }

  &.is-style-solid-color {
    border: none;

    blockquote {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      max-width: 60%;

      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
      }

      cite {
        text-transform: none;
        font-style: normal;
      }
    }
  }

  cite {
    color: inherit;
  }
}

.wp-block-quote {

  &.is-large,
  &.is-style-large {
    margin: 0 0 16px;
    padding: 0 1em;
  }

  &.is-large p,
  &.is-style-large p {
    font-size: 24px;
    font-style: italic;
    line-height: 1.6;
  }

  &.is-large {

    cite,
    footer {
      font-size: 18px;
      text-align: right;
    }
  }

  &.is-style-large {

    cite,
    footer {
      font-size: 18px;
      text-align: right;
    }
  }
}

.wp-block-rss {
  &.alignleft {
    margin-right: 2em;
  }

  &.alignright {
    margin-left: 2em;
  }

  &.is-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    li {
      margin: 0 16px 16px 0;
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .wp-block-rss {
    &.columns-2 li {
      width: calc(50% - 16px);
    }

    &.columns-3 li {
      width: calc(33.33333% - 16px);
    }

    &.columns-4 li {
      width: calc(25% - 16px);
    }

    &.columns-5 li {
      width: calc(20% - 16px);
    }

    &.columns-6 li {
      width: calc(16.66667% - 16px);
    }
  }
}

.wp-block-rss__item-author,
.wp-block-rss__item-publish-date {
  color: #6c7781;
  font-size: 13px;
}

.wp-block-search {
  display: flex;
  flex-wrap: wrap;

  .wp-block-search__label {
    width: 100%;
  }

  .wp-block-search__input {
    flex-grow: 1;
  }

  .wp-block-search__button {
    margin-left: 10px;
  }
}

.wp-block-separator {
  &.is-style-wide {
    border-bottom-width: 1px;
  }

  &.is-style-dots {
    background: 0 0;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;

    &:before {
      content: "\00b7 \00b7 \00b7";
      color: #191e23;
      font-size: 20px;
      letter-spacing: 2em;
      padding-left: 2em;
      font-family: serif;
    }
  }
}

p.wp-block-subhead {
  font-size: 1.1em;
  font-style: italic;
  opacity: 0.75;
}

.wp-block-table {
  &.has-fixed-layout {
    table-layout: fixed;
    width: 100%;
  }

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: table;
    width: auto;
  }

  &.has-subtle-light-gray-background-color {
    background-color: #f3f4f5;
  }

  &.has-subtle-pale-green-background-color {
    background-color: #e9fbe5;
  }

  &.has-subtle-pale-blue-background-color {
    background-color: #e7f5fe;
  }

  &.has-subtle-pale-pink-background-color {
    background-color: #fcf0ef;
  }

  &.is-style-stripes {
    border-spacing: 0;
    border-collapse: inherit;
    background-color: transparent;
    border-bottom: 1px solid #f3f4f5;

    &.has-subtle-light-gray-background-color tr:nth-child(odd),
    tr:nth-child(odd) {
      background-color: #f3f4f5;
    }

    &.has-subtle-pale-green-background-color tr:nth-child(odd) {
      background-color: #e9fbe5;
    }

    &.has-subtle-pale-blue-background-color tr:nth-child(odd) {
      background-color: #e7f5fe;
    }

    &.has-subtle-pale-pink-background-color tr:nth-child(odd) {
      background-color: #fcf0ef;
    }

    td {
      border-color: transparent;
    }
  }
}

.wp-block-text-columns {
  display: flex;

  &.aligncenter {
    display: flex;
  }

  .wp-block-column {
    margin: 0 16px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.columns-2 .wp-block-column {
    width: 50%;
  }

  &.columns-3 .wp-block-column {
    width: 33.33333%;
  }

  &.columns-4 .wp-block-column {
    width: 25%;
  }
}

pre.wp-block-verse {
  white-space: nowrap;
  overflow: auto;
}

.wp-block-video {
  margin-left: 0;
  margin-right: 0;

  video {
    max-width: 100%;
  }

  &.aligncenter {
    text-align: center;
  }

  figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px;
  }
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .wp-block-video [poster] {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.has-pale-pink-background-color.has-pale-pink-background-color {
  background-color: #f78da7;
}

.has-vivid-red-background-color.has-vivid-red-background-color {
  background-color: #cf2e2e;
}

.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color {
  background-color: #ff6900;
}

.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color {
  background-color: #fcb900;
}

.has-light-green-cyan-background-color.has-light-green-cyan-background-color {
  background-color: #7bdcb5;
}

.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color {
  background-color: #00d084;
}

.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color {
  background-color: #8ed1fc;
}

.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color {
  background-color: #0693e3;
}

.has-very-light-gray-background-color.has-very-light-gray-background-color {
  background-color: #eee;
}

.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3;
}

.has-very-dark-gray-background-color.has-very-dark-gray-background-color {
  background-color: #313131;
}

.has-pale-pink-color.has-pale-pink-color {
  color: #f78da7;
}

.has-vivid-red-color.has-vivid-red-color {
  color: #cf2e2e;
}

.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color {
  color: #ff6900;
}

.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color {
  color: #fcb900;
}

.has-light-green-cyan-color.has-light-green-cyan-color {
  color: #7bdcb5;
}

.has-vivid-green-cyan-color.has-vivid-green-cyan-color {
  color: #00d084;
}

.has-pale-cyan-blue-color.has-pale-cyan-blue-color {
  color: #8ed1fc;
}

.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color {
  color: #0693e3;
}

.has-very-light-gray-color.has-very-light-gray-color {
  color: #eee;
}

.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color {
  color: #abb8c3;
}

.has-very-dark-gray-color.has-very-dark-gray-color {
  color: #313131;
}

.has-small-font-size {
  font-size: 13px;
}

.has-normal-font-size,
.has-regular-font-size {
  font-size: 16px;
}

.has-medium-font-size {
  font-size: 20px;
}

.has-large-font-size {
  font-size: 36px;
}

.has-huge-font-size,
.has-larger-font-size {
  font-size: 42px;
}

@font-face {
  font-family: Noticons;
  src: url(https://wordpress.com/i/noticons/Noticons.woff);
}


#jp-post-flair {
  padding-top: 0.5em;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
  clear: both;
}

div.sharedaddy h3.sd-title {
  margin: 0 0 1em;
  display: inline-block;
  line-height: 1.2;
  font-size: 9pt;
  font-weight: 700;

  &:before {
    content: "";
    display: block;
    width: 100%;
    min-width: 30px;
    border-top: 1px solid #ddd;
    margin-bottom: 1em;
  }
}

#wpadminbar {
  li#wp-admin-bar-admin-bar-likes-widget {
    width: 61px;
    overflow: hidden;
  }

  iframe.admin-bar-likes-widget {
    width: 61px;
    height: 28px;
    min-height: 28px;
    border-width: 0;
    position: absolute;
    top: 0;
  }
}

div {
  &.jetpack-likes-widget-wrapper {
    width: 100%;
    min-height: 50px;
    position: relative;

    .sd-link-color {
      font-size: 12px;
    }

    &.slim-likes-widget {
      width: 1px;
      min-height: 0;
    }
  }

  &.jetpack-comment-likes-widget-wrapper {
    width: 100%;
    position: relative;
    min-height: 31px;

    iframe {
      margin-bottom: 0;
    }
  }
}

#likes-other-gravatars {
  display: none;
  position: absolute;
  padding: 10px 10px 12px;
  background-color: #2e4453;
  border-width: 0;
  box-shadow: 0 0 10px #2e4453;
  box-shadow: 0 0 10px rgba(46, 68, 83, 0.6);
  min-width: 130px;
  z-index: 1000;

  * {
    line-height: normal;
  }

  .likes-text {
    color: #fff;
    font-size: 12px;
    padding-bottom: 8px;
  }

  ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    &:before {
      content: "";
    }
  }

  ul.wpl-avatars {
    overflow: auto;
    display: block;
    max-height: 190px;

    li {
      width: 32px;
      height: 32px;
      float: left;
      margin: 0 5px 5px 0;

      a {
        margin: 0 2px 0 0;
        border-bottom: none !important;
        display: block;

        img {
          background: 0 0;
          border: none;
          margin: 0 !important;
          padding: 0 !important;
          position: static;
        }
      }
    }
  }
}

div.sd-box {
  border-top: 1px solid #ddd;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.entry-content .post-likes-widget,
.post-likes-widget,
.comment-likes-widget {
  margin: 0;
  border-width: 0;
  display: block;
}

.post-likes-widget-placeholder {
  margin: 0;
  border-width: 0;
  position: relative;
}

.comment-likes-widget-placeholder {
  margin: 0;
  border-width: 0;
  position: relative;
  height: 18px;
  position: absolute;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-top: 4px;

  &:before {
    -webkit-font-smoothing: antialiased;
    font-family: "Noticons";
    font-size: 20px;
    line-height: 0.9;
    color: #5cb5d4;
    content: "\f408";
    width: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}

.post-likes-widget-placeholder {
  .button {
    display: none;
  }

  .loading {
    color: #999;
    font-size: 12px;
  }
}

.comment-likes-widget-placeholder .loading {
  color: #999;
  font-size: 12px;
  padding-left: 5px;
  margin-top: 2px;
  align-self: center;
  color: #4e4e4e;
}

.slim-likes-widget .post-likes-widget {
  width: auto;
  float: none;
}

div.sharedaddy.sd-like-enabled .sd-like {
  h3 {
    display: none;
  }

  .post-likes-widget {
    width: 100%;
    float: none;
    position: absolute;
    top: 0;
  }
}

.comment-likes-widget {
  width: 100%;
}

.pd-rating,
.cs-rating {
  display: block !important;
}

.sd-gplus .sd-title {
  display: none;
}
