@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

@import "common/global";

@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/hero";
@import "layouts/sidebar";
@import "layouts/pageheader";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/loop";
@import "layouts/tinymce";

html {

  @media (max-width: 800px) {
    font-size: 95%;
  }
}

body{
  padding-top: 60px;
  &.single-format-standard{
    padding-top: 100px;
  }
}

.main{
  img{
    display: block;
    max-width: 100%;
  }
}

.main-carousel {
  position: relative;

  .owl-theme {
    .custom-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 0;
        bottom: 0;
        color: #cecece;
        background: none;
        border: none;
        z-index: 100;
        font-size: 3rem;
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}

.entry-description{
  font-size: 0.9rem;
  line-height: 1.4;
  color: $fontalt2;
}

.entry-categories{
  color: black;
  font-size: 0.65rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.entry-meta-details{
  color: $fontalt;
  font-size: 0.65rem;
  line-height: 1.2;
  padding-top: 0.5rem;
  @media(max-width: 800px){
    font-size: 0.9rem;
  }
  strong{
    text-transform: uppercase;
  }
  .entry-meta-author{
    &::after{
      content: "\B7";
      display: block;
      float: right;
      margin: 0 4px;
    }
  }
}

.single-header {
  .entry-meta-details {
    margin-left: auto;
    margin-right: auto;
    max-width: $wideWidth;
    text-align: center;
  }
}

.chunk{
  display: grid;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(120px, auto);
  padding: 1rem 0;
  @media(max-width: 790px){
    grid-template-columns: 1fr;
    padding: 0;
  }
  article{
    grid-column: span 2;
    border-top: 1px solid $cleargray;
    margin-bottom: 1rem;
    padding: 1rem;
    @media (min-width: 768px) {
      border-left: 1px solid $cleargray;
      &:nth-child(4n+1){
        border-left: none;
      }
    }
    @media (max-width: 790px){
      margin-bottom: 0;
    }
    .entry-prevtitle{
      font-size: 80%;
      color: $fontalt2;
      line-height: 1.2;
      display: block;
    }
  }
}

h1.title {
  line-height: 1;
  color: $fontalt;
}

.chunk-main,
.chunk-index{
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(120px, auto);
  @media(max-width: 790px){
    grid-template-columns: 1fr;
  }
  article {
    grid-column: span 4;
    .entry-description{
      display: none;
    }
    @media(max-width: 790px) {
      grid-column: 1 / -1;
    }
    .wrap{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      height: 100%;
      figure{
        grid-column: span 2;
      }
      .entry-meta {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
    &:first-of-type{
      grid-column: span 8;
      grid-row: span 2;
      margin-bottom: 0;
      .wrap{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(8, 1fr);
        .entry-description{
          display: block;
        }
        @media(max-width: 790px){
          display: block;
        }
        figure{
          grid-column: 4 / -1;
        }
        .entry-meta{
          grid-column: 1 / 4;
          grid-row: 1;
          h1.title{
            font-size: 2rem;
          }
        }
      }
    }
    &:nth-of-type(2) {
      grid-row: span 2;
      margin-bottom: 0;
      @media(max-width: 790px){
        grid-row: auto;
      }
      .wrap{
        grid-template-columns: 1fr;
        .entry-meta {
          .entry-description{
            display: none;
          }
        }
        @media(max-width: 790px){
          grid-template-columns: repeat(4, 1fr);
          figure{
            grid-column: span 2;
          }
          .entry-meta {
            display: block;
          }
        }
      }
    }
    &:nth-of-type(3){
      border-left: none;
    }
    &:last-of-type{
      border-left: 1px solid $cleargray;
    }
  }
}

.chunk-category{
  grid-auto-rows: minmax(70px, auto);
  article {
    grid-column: span 4;
    margin-bottom: 0;
    .entry-description{
      display: none;
    }
    .entry-categories{
      display: none;
    }
    .wrap{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      .entry-meta{
        grid-column: span 3;
      }
    }
    &:first-of-type{
      grid-column: span 3;
      grid-row: span 3;
      .wrap{
        display: block;
      }
      @media(max-width: 790px){
        grid-column: span 1 / -1;
        grid-row: auto;
      }
    }
    &:nth-of-type(2){
      grid-column: span 3;
      grid-row: span 3;
      .wrap{
        display: block;
      }
      @media(max-width: 790px){
        grid-column: span 1 / -1;
        grid-row: auto;
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5){
      grid-column: span 4 / -1;
      .entry-categories{
        padding-top: 0;
      }
    }
    &:last-of-type{
      border-left: 1px solid $cleargray;
      @media(max-width: 790px){
        border-left: none;
      }
    }
  }
}

.wrap-category-chunk{
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
  > h2{
    a{
      color: $fontalt;
      font-weight: bold;
      font-size: 1.6rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.navigation{
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  a{
    display: inline-block;
    background-color: $fontalt;
    color: $cleargray;
    padding: 1rem 1.2rem;
  }
}