.content-info {
  background-color: black;
  text-align: center;
  padding: 2rem;

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #ccc;
  }

  a {
    display: block;
    margin-bottom: 2rem;

    img {
      max-width: 120px;
    }

    .logo-lab{
      fill: white;
    }
  }
}