@import "../common/variables";

.site-header{
  background-color: rgba(black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 2;
  .nav-primary {
    height: $headerHeight;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-primary {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  .brand {
    padding: 0.5rem;
  }

  .menu-main-menu-container {
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      margin: 0;

      @media(max-width: 800px) {
        display: none;
      }

      li {
        list-style: none;
        padding: 0.2rem;
        margin: 0;
        display: block;
        flex-grow: 0;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 1rem;
          bottom: 1rem;
          right: 0;
          border-right: 1px solid $accent;
        }

        &:last-of-type{
          &::after {
            display: none;
          }
        }

        a {
          padding: 1rem 0.5rem;
          display: block;
          // text-transform: uppercase;
          color: $clear;
        }
      }
    }
  }
}