.hero {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $font;
  z-index: 0;

  .container {
    padding: $spacer;
    color: $clear;
    text-align: center;

    .brand {
      max-width: $maxWidth;
      display: block;
    }

    p {
      font-family: "Open Sans", sans-serif;
      max-width: $normalWidth;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.125rem;
      line-height: 1.4;
    }
  }

  .bg {
    background: url(../images/freelance-2.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
  }
}

.home-sections {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;

  >h2 {
    font-size: 4rem;
    padding: 2rem 2rem 1.1rem;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    position: relative;

    @media(max-width: 800px) {
      font-size: 2rem;
      padding: 1rem 1rem 0.6rem;
    }

    .link-gray {
      color: $font;
    }

    strong {
      color: red;
      margin-right: 1rem;
    }
  }

  .cat-posts {

    &.cat-length-1,
    &.cat-length-2 {
      display: grid;
    }

    &.cat-length-2 {
      grid-template-columns: repeat(2, 1fr);

      @media(max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &.cat-length-1 {
      figure {
        img {
          &.size-lt-thumb {
            display: none;
          }
          @media(max-width: 800px) {
            &.size-lt-single{
              display: none;
            }
            &.size-lt-thumb {
              display: block;
            }
          }
        }
      }
    }

    .entry-title {
      margin: 0;
      padding: 0;
      background-color: #052047;
      position: relative;

      .fa-play {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 120px;
        height: 120px;
        margin-top: -60px;
        margin-left: -60px;
        color: white;
        border: 3px solid white;
        padding: 30px;
        border-radius: 100px;
        pointer-events: none;
      }

      a {
        position: relative;
        display: block;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        color: $clear;
        overflow: hidden;
        font-size: 2.2rem;

        @media(max-width: 1300px) {
          font-size: 2rem;
        }

        @media(max-width: 900px) {
          font-size: 1.8rem;
        }

        .entry-description {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 1rem 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .entry-description-title {
            display: block;
            max-width: $normalWidth;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-family: "Noto Sans", sans-serif;
            font-weight: bold;
          }

          .entry-prevtitle {
            font-size: 40%;
            font-weight: normal;
            font-family: "Open Sans", sans-serif;
          }

          .entry-posttitle {
            font-size: 40%;
            font-weight: normal;
            font-family: "Open Sans", sans-serif;
          }
        }

        &:hover {
          figure {
            opacity: 0.6;
          }

          img {
            transform: scale(1.03);
          }
        }

        figure {
          opacity: 0.8;
          padding: 0;
          margin: 0;
          transition: opacity 0.6s ease;

          img {
            transition: transform 0.6s ease;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: none;
          }
        }
      }
    }
  }
}