.article-loop {
  min-height: 50vh;
  text-align: center;
}

.loop-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .entry-title {
    margin: 0;
    padding: 0;
    background-color: #052047;

    a {
      position: relative;
      display: block;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
      color: $clear;
      overflow: hidden;
      font-size: 2.2rem;

      @media(max-width: 1300px) {
        font-size: 2rem;
      }

      @media(max-width: 900px) {
        font-size: 1.8rem;
      }

      .entry-description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .entry-description-title {
          display: block;
          max-width: $normalWidth;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          font-family: "Noto Sans", sans-serif;
          font-weight: bold;
        }

        .entry-prevtitle {
          font-size: 40%;
          font-weight: normal;
          font-family: "Open Sans", sans-serif;
        }

        .entry-posttitle {
          font-size: 40%;
          font-weight: normal;
          font-family: "Open Sans", sans-serif;
        }
      }

      &:hover {
        figure {
          opacity: 0.6;
        }

        img {
          transform: scale(1.03);
        }
      }

      figure {
        opacity: 0.7;
        padding: 0;
        margin: 0;

        img {
          transition: transform 0.6s ease;
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: none;
        }
      }
    }
  }
}