/* stylelint-disable */

.sharer {
  max-width: $normalWidth;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 1rem auto;

  a {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    color: black;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: all .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: black;
      color: white;
    }
  }
}

.entry-content {
  padding: 0 1rem;
  > *{
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    max-width: $normalWidth;
    max-width: $normalWidth;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.48;
    margin-bottom: 1.4rem;
    strong {
      font-weight: bold;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $normalWidth;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans",
    sans-serif;
  }

  p.entry-excerpt {
    font-family: "Vollkorn";
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    @media(max-width: 800px){
      font-size: 1.2rem;
    }
  }

  @for $i from 1 through 6 {
    h#{7 - $i} {
      margin-top: 2rem / 6 * $i;
      font-size: 2rem / 6 * $i;
      margin-bottom: 1rem / 6 * $i;
      line-height: 1;
    }
  }

  ul {

  }

  blockquote {
    max-width: $normalWidth;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto;
    color: #555555;
    padding: 1rem 1rem 1rem 3rem;
    border-left: 8px solid $accent;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;

    p {
      font-size: 1.6rem;
    }
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: $accent;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: '';
  }

  a{
    color: $accent;
  }
}

.single,
.page {
  header {
    h1 {
      text-align: center;
      max-width: $wideWidth;
      font-size: 3rem;
      margin-left: auto;
      margin-right: auto;
      font-family: "Noto Sans", sans-serif;
      line-height: 1;
      color: $fontalt;
      @media(max-width: 800px) {
        font-size: 2rem;
      }
      .entry-prevtitle {
        font-size: 60%;
        font-weight: normal;
        display: block;
        font-family: "Open Sans", sans-serif;
      }

      .entry-posttitle {
        font-size: 60%;
        font-weight: normal;
        display: block;
        font-family: "Open Sans", sans-serif;
      }
    }

    time {
      text-align: center;
      max-width: $maxWidth;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 4rem;
    }

    .figure-wrap {
      background-color: #052047;
    }

    .video-wrap {
      height: 70vh;
      background-color: black;
      position: relative;

      .iframe-wrap {
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    figure {
      opacity: 0.8;
      padding: 0;
      margin: 0;
      // max-height: 60vh;
      overflow: hidden;
      position: relative;

      img {
        display: block;
        // object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: none;
      }
    }
  }
}