body {
  background-color: $clear;
  color: $font;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
p{
  font-size: 0.7rem;
  line-height: 1.44;
}

figure{
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: 1.2rem / 6 * $i;
    letter-spacing: -(2px / 6 * $i) / 4;
    margin-top: (1.2rem / 6 * $i) / 4;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: (1.2rem / 6 * $i) / 2;
    padding: 0;
  }
}