/** Colors */
$accent: tomato;
$clear: white;
$font: black;
$fontalt: #434242;
$fontalt2: #676565;
$cleargray: #dfdfdf;
$normalWidth: 660px;
$wideWidth: 820px;
$maxWidth: 1180px;
$overWidth: 1220px;
$headerHeight: 60px;

/** Box Model  */
$spacer: 1rem;

$fontsize1: 6rem;